
/* Header, top div, menu and all this stuff thats on top */

header{
    height: 60px;
    font-family:'Big Shoulders Text', sans-serif;
    font-size: 24px;
    position: sticky;
    z-index: 999;
}

header div{
    height: 60px;
    position: sticky;
    top: 0;
}

header ul{
    display: flex;
    align-items: center;
}

header ul a{
    text-decoration: none;
    color: white;
}

header ul a:hover{
    text-decoration: none;
    color: white;
}

nav{
    background: transparent;
    width: 100%;
    height: 100px;
    height: 60px;
}

nav div{
    width: 100%;
    display: flex;
    align-items: center;
}

.burger_line{
    display: none;
}

.burger_line{
    align-items: center;
    justify-content: center;
}

.burger{
    width: 50px!important;
    height: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.burger div{
    width: 50px!important;
    height: 3px;
    background-color: white;
    margin: 5px;
}

nav .top-bar{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%
}

/* Contact Us Page*/

#contact_section{
    margin-top: -60px;
    background:
        linear-gradient(90deg, white 20px, transparent 1%) center,
        linear-gradient(white 20px, transparent 1%) center,
        black;
    background-size: 22px 22px;
}

#contact_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    border: 10px solid white;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.name,
.mail{
    align-items: center;
    justify-content: center;
}

.mail p,
.name h1{
    text-align: center;
}

.mail p{
    font-size: 26px;
    color: black;
}

.name h1{
    font-size: 44px;
    text-shadow: 2px 2px black;
    color: red;
}

/* Blog Page */

#blog_wrapper
#section_blog,
#blog_container{
    background-color: transparent;
}

#section_blog{
    min-height: 100vh;
    height: 100%;
    background-color: white;
}

#blog_wrapper{
    padding: 20px;
    padding-top: 58px;
    
}

#blog_wrapper a{
    text-decoration: none;
    
}

#blog_dots{
    margin-top: -40px;
    padding-bottom: 12px;
    background: 
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

#blog_post_la{
    max-width: 1108px;
}

#blog_pagination{
    padding-left: 10px;
    margin-top: 1px;
    background-color: white;
    padding: 2px;
    padding-left: 10px;
    margin-bottom: 32px;

}

#post_section{
    height: 100vh;
    background-color: #fefeff;
    background: 
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

#post_section .container{
    background-color: white;
}

#post_container{
    padding-top: 35px;
    padding-bottom: 20px;
}

.page-numbers{
    font-size: 20px;
    text-decoration: none;
    color: #222020;
    font-weight: 600;
}

.page-numbers:hover{
    text-decoration: none;
    color: #222020;
    font-weight: 600;
}


/* Unused Css Failed Sketch of blog*/
/*#section_blog{
    
}

#blog_section{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 4px solid black;
}

#window_blog{

}

#blog_wrapper{
    display: flex;
    flex-direction: row;
}

#blog_post{
    border-radius: 0!important; 
    border: 2px solid black;
    border-top: 0 solid black;
    border-bottom: 0;   
    color: black;
    width: 300px;
    height: 700px;
}

#blog_post:first-child{
    border-left: 4px solid black;  
}

#blog_post:last-child{
    border-right: 4px solid black;  
}

#blog_image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blog_image img{
    border-bottom: 2px solid black;
}

#blog_pagination{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/* Home Page */
/* First full page sized image */

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    margin-top: -60px;
}

#home  .col-lg-6{
    background-color: rgba(0, 0, 0, 0.18);
}

#home h1{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-shadow: 3px 3px black;
    font-weight: bolder;
}

#home div{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The "about us" in Home Page  
The names empty and image actually
dont showcase the reality as empty
is not empty and image is not an image */

.section{
    height: 100vh;
    display: flex;
}
#section1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section #container{
    display: flex;
}

#container_middle{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 0!important;
}

#container_middle h1{
    text-align: center;
    font-weight: bold;
    font-size: 44px;
}

.image{
    flex: 1;
    float: right;
    padding: 15px;
}

.image ul{
    width: 100%;
    font-size: 18px;
}

.image p{
    font-size: 18px;
    font-weight: bold;
}

.image ul li{
    padding-top: 10px;
}

.home-text{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.about{
    font-size: 18px;
    flex: 1;
}

.empty{
    flex: 1;
    padding: 15px;
}

/* Both Non-full sized imagas text thats on them and breaks 
that are on top and bottom of first and second  */

#window_blog,
#window,
#window2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
}

#window_blog h1,
#window h1,
#window2 h1{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: rgba(0, 0, 0, 0.18);
    text-shadow: 2px 2px black;
}

.break{
    background-color: black;
    width: 100%;
    height: 20px;
}

/* The second full sized i guess one can call it section?
I mean the same stuff as "about me" but with
rotating on hover image in the center that takes you to library  */

.curtain{
    height: 100%;
    flex: 1;
}

.curtain:last-child img{
    float: right;
}

.main{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.text{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    max-width: 100%;
    max-height: 100%;
}

/* Last section with two circles one has facebook icon
the second instagram icon in the middle */

#section3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container-last{
    display: flex;
    flex-direction: column;
    max-width: none!important;
    max-height: none!important;
}

#container-last .center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#container-last .text{
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-last h1{
    font-weight: bold;
    font-size: 44px;
}

.main .center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.center a{
    text-decoration: none;
}

.center a:hover{
    text-decoration: none;
}

.main .center img{
    transition: all 0.5s ease-in-out;
}

.main .center img:focus,
.main .center img:focus-within,
.main .center img:active,
.main .center img:visited,
.main .center img:hover{
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.circle{
    background-color: transparent;
    border: 8px solid black;
    width: 280px;
    height: 280px;
    border-radius: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    margin: 0 -30px;
}

.circle:hover{
    z-index: 999;
    background-color: black;
}

.circle i{
    color: black;
    font-size: 60px;
}

.circle i:focus,
.circle i:focus-within,
.circle i:active,
.circle i:visited,
.circle i:hover{
    color: white;
    transition: all 0.4s ease-in-out;
}

#social_3{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Fotter and text inside of it */

.footer{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p{
    color: white;
    font-size: 18px;
    margin: 2px;
    text-align: center;
}

/* Changing flex direction and making some divs and text smaller */

@media screen and (max-width: 1024px) {

    #section1{
        height: auto!important;
    }

    #section1 .container{
        flex-direction: column;
    }

    #container_middle h1 ,
    #container-last h1{
        font-size: 38px;
    }

    .circle{
        border: 6px solid black;
        width: 240px;
        height: 240px;
        border-radius: 240px;
        margin: 0 -24px;
    }
    
    .circle i{
        font-size: 50px;
    }

}

/* Hiding logo_section changing Header Background Color */

@media screen and (max-width: 991px){
    #header{
        background-color: black!important;
    }

    #logo_section{
        display: none;
    }

    .blog_img_sm{
        display: none;
    }
}

/* Hiding large blog post image in "blog" */

@media screen and (max-width: 767px){
    
    .blog_img_mid{
        display: none;
    }
}

/* Changing sizes n stuff */

@media screen and (max-width: 680px) {

    #window h1,
    #home h1{
        font-size: 36px;
        text-shadow: 2px 2px black;
    }

    #window2 h1{
        font-size: 36px;
    }

    #container_middle h1 ,
    #container-last h1{
        font-size: 34px;
    }

    .circle{
        border: 6px solid black;
        width: 200px;
        height: 200px;
        border-radius: 200px;
        margin: 0 -20px;
    }
    
    .circle i{
        font-size: 40px;
    }
}

/* Displaing burger and menu after clicking on it 
with help of jquery and .active class */

@media screen and (max-width: 500px) {

    .burger_line{
        display: flex;
    }

    nav .top-bar{
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
    }

    .container{
        padding: 0;
    }

    #header{
        text-align: center;
        background: var(--background);
    }

    #menu-top-menu{
        position: absolute;
        top: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: black;
        width: 100%;
        display: none;
    }

    nav li{
        padding: 10px;
    }

    nav li:last-child{
        margin-bottom: 0px;
    }

    nav li:last-child{
        margin-top: 0px;
    }

    nav li{
        margin: 0px;
    }

    .circle{
        border: 6px solid black;
        width: 200px;
        height: 200px;
        border-radius: 200px;
        margin: 0 -22px;
    }
    
    .circle i{
        font-size: 40px;
    }

    .active{
        display: block!important;
    }

}

/* Changing sizes n stuff */

@media screen and (max-width: 410px) {
    #logo_section{
        display: none;
    }

    .title h1{
        font-size: 34px;
    }

    .about p{
        font-size: 15px;
    }

    .image li{
        font-size: 17px;
    }

    .circle{
        border: 6px solid black;
        width: 160px;
        height: 160px;
        border-radius: 160px;
        margin: 0 -20px;
    }
    
    .circle i{
        font-size: 40px;
    }
}